<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Nome do produto" [(ngModel)]="product.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Descrição" [(ngModel)]="product.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Link da foto" [(ngModel)]="product.picture"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Preço do produto" [(ngModel)]="product.price"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveProduct()" expand="block">
      Salvar produto
    </ion-button>    
  </ion-toolbar>
</ion-footer>
